.home {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'News Cycle', sans-serif;
  padding-left: 140px;
  img{
    width: 300px;
    background-color: white;
  box-shadow: 10px 10px 5px grey;
    
  }
  p{
    width: 500px;
  }
 
  
 

  
  

}
.music{
 
  align-items: center;
}
.page{

  display:flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  margin-right:10px;
}

