@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
.app{
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2017/05/29/22/11/minimal-2355107_960_720.jpg);

}
.title{
  display:flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  margin-right:10px;
  background: 50% 100% / 50% 50% no-repeat
  radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 5vw;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
  glow 2500ms linear infinite 2000ms;
  
  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
}

.home {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'News Cycle', sans-serif;
  padding-left: 140px;
  
  
 

  
  

}
.main{
  border-radius: 1em;
  background-color:black;
  color: white;
  width: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
  opacity: .7;
  box-shadow: 10px 10px 5px grey;
  
}
.profile{
  img{

  border-radius: 100%;
  width: 300px;
  padding:10px;
  margin: 20px;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  
  }
}
