
.app{
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  
  background-image: url(https://www.teahub.io/photos/full/84-840158_portland-oregon-desktop-background.jpg);

}
.home {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
  
 

  
  

}
.main{
  border-radius: 1em;
  background: black;
  color: white;
  width: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
  opacity: .7;
}
.profile{
  img{
  border-radius: 20em;
  width: 400px;
  }
}
