@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.header {
  height: 75px;
  color: white;
  
  position: relative;
  
  
  width: 100%;
  font-size: 20px;
  
  display:flex;
  
  justify-content: flex-end;
  h3{
    display:flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    margin-right:10px;
    
  }

  p{
      position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  

  
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
