@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
.header {
  height: 200px;
  color: white;

  
  position: fixed;
  
  width: 100%;
  font-size: 20px;
  
   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #2184cf; 
  text-shadow: 0 0 5px #2bb4a0, 0 0 15px #09916c, 0 0 20px #00ff5e, 0 0 40px #0d7a81, 0 0 60px #0b5897, 0 0 10px #064987, 0 0 98px #054d91;
    color: #25c695;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  display:flex;
  justify-content: space-between;
  align-items: right;
  
 h3{
    float:right;
 }
 h5{
    float: right;
 }
  




}
