.Tech{
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'News Cycle', sans-serif;
  h1{
    

      display:flex;
      justify-content: flex-end;
      position: fixed;
      top: 0;
      right: 0;
      margin-right:10px;
      
      
      background: 50% 100% / 50% 50% no-repeat
      radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
     glow 2500ms linear infinite 2000ms;
    
    @keyframes reveal {
    80%{
    letter-spacing: 8px;
    }
    100% {
    background-size: 300% 300%;
    }
    }
  }
}

.content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-left: 300px;
  
}
.box{
  display: grid;
  margin-right: 40px;
  text-align: center;
  h2{
    color:rgb(107, 54, 231);
  }

  
}

.tooltip{

  
  caption{
  visibility: hidden;
  z-index: 1;
  text-align: center;
  
  
  
  



  }
}
.tooltip:hover {
  img{
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  }
  caption {

    visibility: visible;
    transform: translateX(55px);
    transition: .3s linear;
  

    
  }
}

