body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  
  background-image: url(https://www.teahub.io/photos/full/84-840158_portland-oregon-desktop-background.jpg);
}
